body {
  padding-left: 11em;
  font-family: Georgia, serif;
  background-color: #d8da3d;
  color: rgb(157, 38, 157)}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  color: rgb(157, 38, 157); font-family: sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0em;
  padding: 0.3em;
  border-right: 1em solid black}
ul.navbar a{
  text-decoration: none }
a:link {
  color: green}
a:visited {
  color: rgb(157, 38, 157)}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; 
  }
